# Python cache
__pycache__/
*.pyc

# Virtual environment
env/

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Environment files
.env

**/.terraform/*

# .tfstate files (CRITICAL SECURITY)
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Ignore private SSH keys
*.pem
*terraform-ec2-key*

# Ignore any secret variable files
*.tfvars
